body{
    font-size: 18px;
    background-color: rgb(235, 234, 234);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: capitalize;
}
h1{
    margin: 0;
    padding-left: 0px;
}
ul li {
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
}

.child {
  list-style-type: none;
}
.container {
  border: 4px solid rgb(255, 179, 179);
  border-radius: 12px;
  padding: 30px;
  margin-top: 20px;
  text-transform: capitalize;
}
.container ul{
    display: none;
    background-color: white;
}
.active ul{
    display: block;
}
.child {
  padding-left: 20px;
  padding-top: 20px;
}
.child ul li{
     color:rgb(95, 95, 255);
}
.child li {
  border-left: 2px solid black;

}
.topHead:hover {
  cursor: pointer;
}
.folder+ ul{
    display: none;
}
button{
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 30px;
  background:rgb(211, 211, 255);
  font-weight: bolder;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
#json-data{
  padding:10px;
  margin-bottom: 10px;
}