@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.025em;
  font-family: "Rubik", sans-serif;
  position: relative;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  background-color: #fff;
  padding: 2px;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.nav-logo img {
  max-width: 100%;
}
.nav-links {
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 20px;
  flex-wrap: wrap;
  cursor: pointer;
  padding: 0;
}
.nav-links li {
  text-decoration: none;
  color: #252427;
  padding: 2px 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.news {
  max-width: 100%;
}
.newspaper-list li {
  list-style-type: none;
  padding: 2px 20px;
}
.news-title {
  padding: 0 30px;
  text-transform: uppercase;
  color: #252427;
  font-size: 16px;
}
.newspaper-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.newspaper-list li img {
  height: 30px;
}
.brand-detail {
  background: #d7e5fa;
  padding: 20px 40px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-head-img img {
  display: block;
  margin: 0 auto;
  padding: 15px 20px;
}
.section-head-text {
  width: 500px;
  padding: 10px 50px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: #33578d;
}
.section-img {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  position: relative;
}
.overlay1-text {
  position: absolute;
  top: 30px;
  left: 300px;
  width: 300px;
  font-size: 36px;
  letter-spacing: -0.02em;
  color: #001a5a;
  text-align: left;
}
.overlay2-text {
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 36px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: left;
  width: 250px;
}

.section-img img {
  width: 590px;
  max-width: 100%;
  height: 90%;
  box-shadow: 0px 4px 4px #c8daf5;
}
.btn {
  display: flex;
  justify-content: space-evenly;
}
.image-container {
  position: relative;
}
/* .image-container img{
    width: 100%;
} */
.slider-container {
  position: relative;
}
.slide{
  position: relative;
}
.right-btn,
.left-btn {
    background: rgba(255, 255, 255, 0.8);
  padding: 8px 20px;
  text-align: center;
  font-weight: bolder;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  top: 400px;
}
.right-btn {
  right: 20px;
}
.left-btn {
  left: 20px;
}
.detail-images {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
  column-gap: 40px;
  row-gap: 30px;
}
.detail-image-item {
  position: relative;
}
.detail-image-item a {
  box-shadow: 0px 4px 4px #c8daf5;
}
.c-text {
  position: absolute;
  top: 30px;
  font-size: 36px;
  font-weight: 300;
  width: 100%;
  line-break: auto;
  padding: 15px;
  line-height: 48px;
  letter-spacing: -0.02em;
}
.c1-text {
  color: #441c06;
}
.c2-text,
.c3-text {
  color: #2c3d7b;
}
.c4-text {
  color: #252427;
}
.c5-text {
  color: #001a5a;
}
.c6-text {
  color: #232e00;
}
.accordian-heading {
  text-transform: uppercase;
  color: #26497c;
  font-size: 22px;
}
.coffe-cards {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  width: 300px;
}
.coffe-cards img {
    width: 350px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
}
.coffe-cards-detail {
  padding: 2px 16px;
}
.tabs-heading {
  text-align: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #26497c;
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 40px;
}
.tabs-li {
  display: flex;
  border-bottom: 2px solid rgba(38, 73, 124, 0.5);
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
    align-items: center;
}
#tab1,
#tab2,
#tab3,
#tab4 {
  display: flex;
  color: rgba(38, 73, 124, 0.5);
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  margin: 0 60px;
  text-transform: capitalize;
  flex-direction: row;
  column-gap: 40px;
  transition: 0.3s;
}
.active-tab {
  color: #26497c !important;
  /* border-bottom: 2px solid #26497c; */
}
.gallery {
  margin-top: 100px;
  padding: 50px 100px;
  text-align: center;
  background-color: #fff;
}
.gallery .gallery-content h3 {
  text-transform: uppercase;
}
.gallery-content p {
  text-transform: capitalize;
  font-size: 30px;

  font-weight: 300px;
}
.gallery-images {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 35px;
  row-gap: 20px;
  padding-top: 50px;
}
.gallery-images img {
  box-shadow: 0px 4px 4px #c8daf5;
}
button {
    cursor: pointer;
  background: #1774ff;
  padding: 15px 30px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  border: none;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 16px;
  border-radius: 4px;
}
.product-detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}
.product {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product a {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #1774ff;
  padding: 12px 18px;
  text-decoration: none;
}
.review {
  background: #d7e5fa;
  display: flex;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-evenly;
}
.review-img {
  max-width: 100%;
  height: 500px;
}
.review-msg {
  width: 500px;
}
.review-msg p {
  font-size: 24px;
  color: #000000;
  padding: 20px 0;
}
.review-name {
  font-size: 16px !important;
}
.slide-down,
.slide-down-content {
  background: #eaedf4;
  
}
.slide-down-content {
  display: flex;
  padding: 15px 100px;
  align-items: center;
}
.slide-down-text {
    cursor: pointer;
  text-transform: uppercase;
  color: #1774ff;
  padding: 20px 0;
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
.drop-down-content {
  font-weight: 300;
}
.drop-down-slide-content {
  display: none;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.foot-links {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  font-size: 16px;
  padding: 64px 45px;
  
  box-sizing: border-box;
  flex: 0 1 20%;
  letter-spacing: -0.02em;
}
.foot-links a {
  color: #000000;
  display: flex;
}
.foot-links b {
  text-transform: uppercase;
}
.foot-social-img ul {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.foot-link-details ul li a {
  padding-left: 0;
  display: flex;
  letter-spacing: -0.02em;
}
.foot-link-details li {
  padding: 10px 0;
}
#email {
  padding: 15px 30px;
  border: 2px solid black;
}
.footer {
  background: #faf6ef;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  letter-spacing: -0.02em;
}
.footer a {
  padding-left: 10px;
  color: #000000;
  text-decoration: underline;
}
.free-text {
  background-color: #2d2d2d;
  padding: 4px 10px;
  color: #ffe733;
  border-radius: 6px;
}
.del-option {
  padding-left: 150px;
  cursor: pointer;
  transition: 0.3s;
}
.slide1-text {
  display: flex;
  justify-content: center;
  font-size: 40px;
  position: absolute;
  align-items: center;
  color: #fff;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.slide1-text img {
  height: 60px;
}

.slide1-image {
  position: absolute;
  max-width: 100%;
  border: 8px solid white;
  border-radius: 8px;
  width: 550px;
  top: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.slide1-button {
  background: #7000ff;
  position: absolute;
  bottom: 200px;
  left: 670px;
  text-align: center;
}

.basket-container {
   position: fixed;
  top: 52px;
  right: 14%; 
  z-index: 20;
  width: 360px;
  /* float: right; */
  display: none;
  background: #EDEFF2;
  padding: 20px;
  color: #252427;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}
.blur {
  filter: blur(5px);
}
.tab-section {
  display: flex;
  column-gap: 20px;
  justify-content: space-evenly;
}
.modal-container {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
   background: rgba(0, 0, 0, 0.34);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
   z-index: 20;
   
}
.modal-container.show{
  opacity:1;
  pointer-events: auto;
}
.modal{
  display: flex;
  width: 500px;
  max-width: 100%;
  text-align: center;
  position: absolute;
  left: 450px;
}
.modal-btn{
    background: rgb(0, 10, 55);
    padding: 20px 16px;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
}
#close{
    float: right;
    cursor: pointer;
}
.modal-content{
    background:#3c4c7d;
    color:#fff;
    box-sizing: border-box;
    padding: 15px 30px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.modal-content p{
    padding: 12px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
}
.email-modal, .tel-modal{
    border: none;
    font-size: 14px;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 14px;
}
.modal-img{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
        
}
.slide-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    align-items: center;
}
.slide2-text{
    top: 50px;
    left: 0;
    right: 0;
    color: #c9142a;
    letter-spacing: -0.02em;
    font-weight: bolder;
    font-family: 'Noto Serif Telugu', serif;
}
.slide-btn{
    background-color: #fff;
    color: #000000;
    text-transform: uppercase;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}
.slide2-text-image{
    width:100px;
}
.slide3-text{
    bottom: 50px;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 20px;
    letter-spacing: -0.02em;
    font-weight: 300;
}
.slide4-text{
    top: 100px;
    right: 0;
    left: 0;
    color: yellow;
    font-size: 20px;
    letter-spacing: -0.02em;
    font-weight: 300;
}
.slide4-text p{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin: 0;
    padding: 0
}
.slide4-text h1{
    margin-top: 0;
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.slide4-text button{
    color: #4c8ad5;
}
.slide5-text{
    top: 100px;
    right: 0;
    left: 0;
    color: #42251a;
    font-weight: 300;
}
.slide5-text button{
    background-color: #42251a;
    color: white;
}
.slide5-text h3, .slide6-text h3{
    text-transform: uppercase;
    margin: 0;
}
.slide5-text h1, .slide6-text h1{
    text-transform: capitalize;
    font-size: 50px;
}
.slide6-text{
    top: 100px;
    right: 0;
    left: 0;
    color: #272d4d;
}
.slide6-text button{
    background-color: #272d4d;
    color: white;
}
.x-cart{
    display: none
}
/* body > *:not(#navLinks){
    filter: blur(3px);
} */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    background-color: #ffe733;;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
.footer-text{
   display: flex;
   align-items: center;
   font-size: 20px;
  text-transform: capitalize; 
}
.active-tab:after {
    content: "";
    width: 100%;
    background: #26497C;
    height: 4px;
    position: absolute;
    bottom: -3px;
}
.tabs li a {
    position: relative;
}
.overlay1-icon , .overlay2-icon{
  width: 30px !important;
  box-shadow: none !important;
}
ul{
  padding-left:0;
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
  .slide1-button{
    bottom: 20px;
    left: 380px;
  }
  .slide2-text{
    top: 25px;
  }
  .slide3-text{
    bottom: 7px;
    font-size: 17px;
  }
  .slide4-text{
    top: 77px;
  }
  .slide4-text h1{
    margin-bottom: 0;
    font-size: 50px;
  }
  .slide5-text{
    top: 28px;
  }
  .slide5-text h1, .slide6-text h1{
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .overlay1-text{
    left: 230px;
    font-size: 29px;
    width:220px;
  }
  .overlay2-text{
    top: 20px;
    width: 205px;
    font-size: 29px;
  }
  .c-text{
    font-size: 30px;
    top: 10px;
  }
  .slide-down-content{
    flex-direction: column-reverse;
    align-items: center;
  }
  .tabs-li{
    justify-content: space-evenly;
  }
  #tab1, #tab2, #tab3, #tab4{
    display: block;
    margin: 0;
  }
  .active-tab:after{
    right: 0;
  }
}
.droplist{
  display: flex;
  align-items: center;
}
.navDrop{
  position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
      display: flex;
    align-items: center;
}
.shop{
  cursor: pointer;
}
.droplist{
  display: flex;
}
.droplist.active{
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    background: rgb(255, 255, 255);
    flex-direction: column;
    right: 0;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
}
@media screen and (max-width: 768px) {
  nav{
    display: block;
  }
  .droplist{
    display: none;
  }
  .shop.mediaActive{
    position: absolute;
    left: 0;
    right: 0;
    justify-content: center;
  }
  
}